p{    /*all paragraph*/
    margin-top: 0;
    margin-bottom: 0;
}


body{
    font-family: Roboto, Arial;      /*font stack, if first fails to load, second is loaded*/
    margin: 0;
    padding-top: 80px;
    padding-left: 95px;
    height: 1000px;
    padding-right: 20px;
    background-color: rgb(247, 244, 244);

}