.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    /* border-bottom: 1px solid rgb(227, 227, 227); */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(227, 227, 227);
    z-index: 10;   /*due to position relative of thumbnail timestamp, z index of thumbnail became more than
                    header and it started showing on top of header, so giving header a higher z-index*/
    font-family: Roboto, Arial;


}

.left-section{
    /* background-color: lightblue; */
    /* width: 150px; */
    display: flex;
    align-items: center;    /*vertically*/

}
.hamburger-menu{
    display: flex;
    height: 22px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtube-logo-menu{
    height: 22px;
}

.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 34px;
    font-size: 16px;
    border: 1px solid rgb(202, 190, 190);
    padding-left: 10px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 2px rgba(0, 0,0,0.05);
    width: 0;                /*so search bar shrinks*/
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search-icon{
    height: 25px;
}
.search-button{
    height:37px;
    width:60px;
    /* display: flex;              instead simply padding can also be done */
    /* align-items: center;
    justify-content: center; */
    padding-top: 6px;
    background-color: rgb(249, 245, 245);
    border: 1px solid rgb(202, 190, 190);
    margin-left: -2px;
    margin-right: 10px;
    position: relative;       /*bcoz (absolute inside relative) makes */
}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button:hover .tool-title,
.voice-search-button:hover .tool-title,
.upload-icon-container:hover .tool-title,
.youtube-apps-icon-container:hover .tool-title,
.notifications-icon-container:hover .tool-title{
    opacity: 1;
}
.tool-title{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 8px 8px;
    bottom: -50px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none; /*do nothing when pointer hovers over place where there is title*/
    white-space: nowrap;   /*meaning title is shown in same line, not different lines*/

}

.voice-search-button{
    height: 37px;
    width: 37px;
    border-radius: 18px;
    border: none;
    background-color: rgb(249, 245, 245);
}
.voice-search-icon{
    height: 25px;
}

.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;         /*doesnt shrink*/
}
.upload-icon{
    height: 24px;
}
.youtube-apps-icon{
    height: 24px;
}
.notifications-icon-container{
    position: relative;
}
.notifications-icon{
    height: 24px;
}
.notifications-count{
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: red;
    color: white;
    /* height: 20px;
    width: 20px; */
    border-radius: 25px;
    border: 2px solid white;
    font-family: Roboto, arial;
    font-size: 9px;
    padding: 2px 5px;
}

.current-channel-icon{
    height: 32px;
    border-radius: 16px;
}